# Server Configuration
PORT=3000

# MongoDB Configuration
# For local MongoDB
MONGODB_URI=mongodb://localhost:27017/webhook_db

# For MongoDB Atlas (cloud)
# MONGODB_URI=mongodb+srv://sudhanshu_db_user:57noVDSClsUcZcnW@creataramongodb.g8c8bd1.mongodb.net/
